.fullpage {
  background-image: url(forest.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


#audioTag {
   display: none;
}

.btn-padding {
  margin-right: 15px;
  margin-left: 15px;
}

.showrevbtn{
  background: #3498db;
 background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
 background-image: -moz-linear-gradient(top, #3498db, #2980b9);
 background-image: -ms-linear-gradient(top, #3498db, #2980b9);
 background-image: -o-linear-gradient(top, #3498db, #2980b9);
 background-image: linear-gradient(to bottom, #3498db, #2980b9);
 -webkit-border-radius: 28;
 -moz-border-radius: 28;
 border-radius: 28px;
 font-family: Arial;
 color: #ffffff;
 font-size: 20px;
 padding: 10px 20px 10px 20px;
 margin-top: 20px;
 text-decoration: none;
}

.writerevbtn{
  background: #3498db;
 background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
 background-image: -moz-linear-gradient(top, #3498db, #2980b9);
 background-image: -ms-linear-gradient(top, #3498db, #2980b9);
 background-image: -o-linear-gradient(top, #3498db, #2980b9);
 background-image: linear-gradient(to bottom, #3498db, #2980b9);
 -webkit-border-radius: 28;
 -moz-border-radius: 28;
 border-radius: 28px;
 font-family: Arial;
 color: #ffffff;
 font-size: 20px;
 padding: 10px 20px 10px 20px;
 margin-top: 20px;
 text-decoration: none;
}

.showDiv {
  background-color: #89817F;
  width: 700px;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
}

.twocolumns {
  column-count: 2;
  column-gap: 40px;
}

body {
  padding-top: 54px;

}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
  padding-left: 54px;
  padding-right: 54px;
}

.pagination {
  margin-bottom: 30px;
}


.rating {
  font-family: 'Metal Mania';
  font-size: 30px;
  overflow: hidden;
  vertical-align: bottom;
  display: inline-block;
  width: auto;
  height: 30px;
}

.rating > input {
  opacity: 0;
  // margin-right: -100%;
}

.rating > label {
  position: relative;
  display: block;
  float: right;
  background: url('babydot.png');
  background-size: 30px 30px;
}

.rating > label:before {
  display: block;
  opacity: 0;
  content: '';
  width: 30px;
  height: 30px;
  background: url('skull2.png');
  background-size: 30px 30px;
  transition: opacity 0.2s linear;
}

.writereview {
  background: #3498db;
 background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
 background-image: -moz-linear-gradient(top, #3498db, #2980b9);
 background-image: -ms-linear-gradient(top, #3498db, #2980b9);
 background-image: -o-linear-gradient(top, #3498db, #2980b9);
 background-image: linear-gradient(to bottom, #3498db, #2980b9);
 -webkit-border-radius: 28;
 -moz-border-radius: 28;
 border-radius: 28px;
 font-family: Arial;
 color: #ffffff;
 font-size: 20px;
 padding: 10px 20px 10px 20px;
 margin-top: 20px;
 text-decoration: none;
}


.scaryfont {
  font-family: 'Metal Mania';
  font-weight: normal;
  font-size: 40px;
  text-align: center;
}

.stylename {
  font-family: 'Creepster';
  color:  #800000;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  margin-bottom: 0
}

.stylebody {
  font-family: 'Creepster';
  color:  #800000;
  font-weight: normal;
  font-size: 25px;
  text-align: center;
}

#header {
   font-family: 'Metal Mania';
   color:  #cc0000;
   font-weight: normal;
   font-size: 70px;
   text-align: center;
 }

.rating > label:hover:before,  .rating > label:hover ~ label:before,  .rating:not(:hover) > :checked ~ label:before { opacity: 1; }
