.fullpage {
  background-image: url(forest.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.showDiv {
  background-color: #89817F;
  width: 700px;
  margin: auto;
  margin-bottom: 30px;

}

.twocolumns {
  column-count: 2;
  column-gap: 40px;
}

body {
  padding-top: 54px;

}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
  padding-left: 54px;
  padding-right: 54px;
}

.pagination {
  margin-bottom: 30px;
}


.rating {
  overflow: hidden;
  vertical-align: bottom;
  display: inline-block;
  width: auto;
  height: 30px;
}

.rating > input {
  opacity: 0;
  margin-right: -100%;
}

.rating > label {
  position: relative;
  display: block;
  float: right;
  background: url('babydot.png');
  background-size: 30px 30px;
}

.rating > label:before {
  display: block;
  opacity: 0;
  content: '';
  width: 30px;
  height: 30px;
  background: url('skull2.png');
  background-size: 30px 30px;
  transition: opacity 0.2s linear;
}

#header {
   font-family: 'Metal Mania';
   color:  #cc0000;
   font-weight: normal;
   font-size: 70px;
   text-align: center;
 }

.rating > label:hover:before,  .rating > label:hover ~ label:before,  .rating:not(:hover) > :checked ~ label:before { opacity: 1; }
